---
import { Picture } from 'astro:assets'
import { Icon } from 'astro-icon/components'
export interface Project {
	title: string
	repo: string
	demo?: string
	image: string
	description: string
}

export const projects: Project[] = [
	{
		title: 'Personal Blog',
		repo: 'https://github.com/username/personal-blog',
		demo: 'https://blog.example.com',
		image: 'https://picsum.photos/1080/720?1',
		description:
			'Blog pribadi berbasis Astro untuk menulis catatan, opini, dan hal-hal yang tidak terjawab.'
	},
	{
		title: 'Markdown Notes',
		repo: 'https://github.com/username/markdown-notes',
		demo: '',
		image: 'https://picsum.photos/1080/720?2',
		description: 'Aplikasi sederhana untuk mengelola catatan berbasis markdown.'
	},
	{
		title: 'Todo App',
		repo: 'https://github.com/username/todo-app',
		demo: 'https://todo.example.com',
		image: 'https://picsum.photos/1080/720?3',
		description: 'Aplikasi todo minimalis dengan fokus pada kesederhanaan dan produktivitas.'
	}
]
---

<section class="mx-auto px-4 py-8">
	<h2
		class:list={[
			'mb-8 border-b border-b-neutral-200 text-lg font-semibold',
			'dark:border-neutral-700'
		]}
	>
		Last Projects
	</h2>
	<p class="max-w-[60ch]">
		Biar kelihatan seperti orang sibuk hehe 😄..., beberapa proyek, tapi nggak beneran, cuma hasil
		praktik dan belajar selama ini
	</p>
	<div
		class:list={[
			'my-4 grid gap-8 border-t border-neutral-200 py-8 dark:border-neutral-700',
			'sm:grid-cols-2',
			'lg:grid-cols-3'
		]}
	>
		{
			projects.map(({ title, repo, demo, image, description }) => (
				<figure
					class:list={[
						'w-full overflow-hidden rounded-3xl bg-neutral-200/50 p-4 shadow-xs/50',
						'dark:bg-neutral-700/50 dark:shadow-xs/100'
					]}
				>
					<Picture
						src={image}
						width={320}
						height={280}
						inferSize={true}
						alt={title}
						class="w-full rounded-2xl object-cover object-center shadow-sm/50"
					/>
					<figcaption class="grid gap-2">
						<h3 class="my-4 text-lg font-semibold text-neutral-950 dark:text-neutral-50">
							{title}
						</h3>
						<p class="line-clamp-2 text-sm">{description}</p>
						<nav class="mt-4 flex items-center gap-4 font-semibold text-white">
							<a
								href={repo}
								class="flex items-center gap-2 rounded-xl bg-amber-600 px-4 py-2 shadow-sm"
							>
								<Icon name="bi:github" />
								<span>Repo</span>
							</a>
							<a
								href={demo}
								class="flex items-center gap-2 rounded-xl bg-neutral-700 px-4 py-2 shadow-sm"
							>
								<Icon name="bi:stickies-fill" />
								<span>View</span>
							</a>
						</nav>
					</figcaption>
				</figure>
			))
		}
	</div>
</section>
