---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'

import CardWrapper from './card/CardWrapper.astro'
import CardImage from './card/CardImage.astro'
import CardBody from './card/CardBody.astro'
import CardFooter from './card/CardFooter.astro'
import Button from './Button.astro'

const blog = await getCollection('blog')

const featured = blog
	//@ts-ignore
	.sort((a, b) => b.data.pubDate - a.data.pubDate)
	.filter((item) => item.data.featured)
	.slice(0, 6)
---

<section class="-mt-px grid min-h-screen gap-8 py-14">
	<article class="prose prose-zinc dark:prose-invert container mx-auto max-w-full">
		<h2>Writing</h2>
		<p>
			Tulisan-tulisan di bawah ini sebagian besar adalah catatan belajar dan pemikiran acak selama
			proses memahami teknologi dan kehidupan. Tidak semuanya rapi, tapi semuanya jujur.
		</p>
	</article>

	<div class="container mx-auto grid gap-8 md:grid-cols-2">
		{
			featured.map(({ id, collection, data: { heroImage, title, description } }) => (
				<CardWrapper>
					<CardImage image={heroImage} title={title} />
					<CardBody>
						<h3 class="line-clamp-1">{title}</h3>
						<p class="line-clamp-3">{description}</p>
					</CardBody>
					<CardFooter>
						<Button href={`/${collection}/${id}/`}>
							<Icon size={20} name="bi:alt" />
							Baca Selengkapnya
						</Button>
					</CardFooter>
				</CardWrapper>
			))
		}
	</div>
</section>
