---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import { config } from '../site.config'
import { Icon } from 'astro-icon/components'

import Button from './Button.astro'
import CardWrapper from './card/CardWrapper.astro'
import CardBody from './card/CardBody.astro'
import CardImage from './card/CardImage.astro'
import CardFooter from './card/CardFooter.astro'

const projects = await getCollection('projects')

const featured = projects
	//@ts-ignore
	.sort((a, b) => b.data.pubDate - a.data.pubDate)
	.filter((item) => item.data.featured)
	.slice(0, 4)
---

<section class="-mt-px grid min-h-screen gap-8 border-y border-zinc-200 py-14 dark:border-zinc-700">
	<article class="prose prose-zinc dark:prose-invert container mx-auto max-w-full">
		<h2>No Project, Still Learning</h2>
		<p>
			Saat ini saya belum memiliki banyak project besar untuk dipamerkan. Sebagian besar waktu saya
			habiskan untuk mencoba hal-hal kecil, membaca dokumentasi, dan menulis hello world berulang
			kali. Bagi saya, fase ini penting — karena dari sini kebiasaan belajar dibangun.
		</p>
	</article>

	<div class="container mx-auto grid gap-8 md:grid-cols-2 lg:grid-cols-3">
		{
			featured.map(({ id, collection, data: { heroImage, title, description, repo } }) => (
				<CardWrapper>
					<CardImage image={heroImage} title={title} />
					<CardBody>
						<h3 class="line-clamp-1">{title}</h3>
						<p class="line-clamp-3 text-sm">{description}</p>
					</CardBody>
					<CardFooter>
						<Button href={repo} target="_blank" variant="primary">
							<Icon size={20} name="bi:github" />
							Repo
						</Button>
						<Button href={`/${collection}/${id}/`}>
							<Icon size={20} name="bi:alt" />
							Selengkapnya
							<span class="sr-only">{title}</span>
						</Button>
					</CardFooter>
				</CardWrapper>
			))
		}
	</div>
</section>
