---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import { config } from '../site.config'
import Button from './Button.astro'
import { Icon } from 'astro-icon/components'

const projects = await getCollection('projects')

const featured = projects
	//@ts-ignore
	.sort((a, b) => b.data.pubDate - a.data.pubDate)
	.filter((item) => item.data.featured)
	.slice(0, 4)
---

<section class="-mt-px border-y border-zinc-200 py-14 dark:border-zinc-700 grid gap-8">
	<article class="prose prose-zinc dark:prose-invert mx-auto max-w-3xl">
		<h2>No Project, Still Learning</h2>
		<p>
			Saat ini saya belum memiliki banyak project besar untuk dipamerkan. Sebagian besar waktu saya
			habiskan untuk mencoba hal-hal kecil, membaca dokumentasi, dan menulis hello world berulang
			kali. Bagi saya, fase ini penting — karena dari sini kebiasaan belajar dibangun.
		</p>
	</article>

	<div class="mx-auto max-w-3xl grid gap-8 md:grid-cols-2">
		{
			featured.map(({ id, collection, data: { heroImage, title, description, repo } }) => (
				<article class="border border-zinc-200 dark:border-zinc-700 rounded-lg shadow-sm overflow-hidden shadow-xs/30">
					<Picture src={heroImage ?? config.heroImage} alt={title} inferSize={true} class="object-cover object-center w-full border-b border-zinc-200 dark:border-zinc-700"/>
          <div class="p-4 prose prose-zinc dark:prose-invert">
            <h3>{title}</h3>
            <p class="line-clamp-3">{description}</p>
            <div class="not-prose flex items-center gap-4">
              <Button href={repo} target="_blank" variant="primary">
                <Icon size={20} name="bi:github" />
                Repo
              </Button>
              <Button href={`/${collection}/${id}/`} target="_blank">
                <Icon size={20} name="bi:alt" />
                Selengkapnya
              </Button>
            </div>
          </div>
				</article>
			))
		}
	</div>
</section>
